.section {
  margin-top: 16px;
  padding: 2rem var(--page-gutter) 6rem;
}

.section > div {
  display: grid;
  gap: 2.5rem;
  max-width: var(--content-width);
  margin-inline: auto;
}

.section header {
  min-height: 7.4375rem;
}

.section header p {
  color: rgb(0 0 0 / 60%);
  font-weight: 500;
}

@media (max-width: 767px) {
  .section {
    margin-top: 0;
    padding: calc(32 / 3.75 * 1vw) 0 calc(42 / 3.75 * 1vw);
  }

  .section > div {
    gap: calc(32 / 3.75 * 1vw);
  }

  .section header {
    min-height: 0;
    padding-inline: calc(16 / 3.75 * 1vw);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section {
    padding: calc(32 / 8.1 * 1vw) calc(20 / 8.1 * 1vw) calc(60 / 8.1 * 1vw);
  }
}
